@model Wejobr.Models.Vaga

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_empresa" class="control-label"></label>
                <input asp-for="Id_empresa" class="form-control" />
                <span asp-validation-for="Id_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo_vaga" class="control-label"></label>
                <input asp-for="Cargo_vaga" class="form-control" />
                <span asp-validation-for="Cargo_vaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao_vaga" class="control-label"></label>
                <input asp-for="Descricao_vaga" class="form-control" />
                <span asp-validation-for="Descricao_vaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario_vaga" class="control-label"></label>
                <input asp-for="Salario_vaga" class="form-control" />
                <span asp-validation-for="Salario_vaga" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Vaga_pcd" /> @Html.DisplayNameFor(model => model.Vaga_pcd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nivel_instrucao_vaga" class="control-label"></label>
                <input asp-for="Nivel_instrucao_vaga" class="form-control" />
                <span asp-validation-for="Nivel_instrucao_vaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localidade_vaga" class="control-label"></label>
                <input asp-for="Localidade_vaga" class="form-control" />
                <span asp-validation-for="Localidade_vaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regime_contratacao_vaga" class="control-label"></label>
                <input asp-for="Regime_contratacao_vaga" class="form-control" />
                <span asp-validation-for="Regime_contratacao_vaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
