@{
    ViewData["Title"] = "Home Page";
}


<section>
    <h2>Vagas em destaque</h2>
    <div class="cardsIndex">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>

        </div>
    </div>
    <div class="cardsIndex">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Itaú Unibanco</h5>
                <h6 class="card-subtitle mb-2 text-muted">Programador</h6>
                <p class="card-text">Código da vaga: 001</p>
                <p class="card-text">Quantidade de vagas: 1</p>
                <p class="card-text">Nível de instrução: Técnico</p>
                <p class="card-text">Salário: R$ 2.500,00</p>
                <p class="card-text">Localidade - MG</p>
                <a href="#" class="btn btn-warning">Ver detalhe da vaga</a>
            </div>
        </div>
    </div>

    <h2>Parceiros</h2>
    <div class="parceiros">
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
    </div>
    <div class="parceiros">
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
        <a href="#"><img src="~/css/imagens1/recode.png" alt=""></a>
    </div>
</section>